@model Security.Web.Models.LoginViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h2 class="text-center mb-4">@Localizer["LoginTitle"]</h2>
<form autocomplete="off" asp-route="Login">
    <input type="hidden" asp-for="ReturnUrl" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label for="email">@Localizer["EmailLabel"]</label>
        <input type="email" id="email" class="form-control form-control-lg" placeholder="@Localizer["EmailPlaceholder"]" asp-for="Email" autofocus>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="password">@Localizer["PasswordLabel"]</label>
        <input type="password" id="password" class="form-control form-control-lg" placeholder="@Localizer["PasswordPlaceholder"]" asp-for="Password">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    @if (Model.AuthenticationFailed)
    {
        <div class="alert alert-danger" role="alert">
            @Model.AuthenticationFailedMessage
        </div>
    }
    <button type="submit" class="btn btn-dark btn-block mt-3">@Localizer["LoginLabel"]</button>
</form>